In [2]:
import pandas as pd
import numpy as np
import datetime 

pd.set_option('display.max_columns', None)

# load data from 2016-17 season
df = pd.read_csv('../tables/good_tables/2016-17_skaters_2.csv')
df[df['Games Played'] == 3].head()

,Unnamed: 0,Player,Age,Team,Position,Games Played,Goals,Assists,PTS,+/-,PIM,PPG,SHG,GWG,Shots,S%,TOI,BLK,HIT,FOW,Season
28,28,Riley Barber\barberi01,22,WSH,RW,3,0,0,0,0,0,0,0,0,2,0.0,26,0,1,0,0
102,102,Patrick Cannone\cannopa01,30,MIN,C,3,0,0,0,0,0,0,0,0,2,0.0,24,1,2,11,0
174,174,Christopher Didomenico\didomch01,27,OTT,RW,3,0,0,0,0,6,0,0,0,5,0.0,33,2,2,2,0
216,216,Emerson Etem\etemem01,24,ANA,LW,3,0,0,0,1,2,0,0,0,0,NaN,26,0,4,0,0
220,220,Bobby Farnham\farnhbo01,28,MTL,RW,3,0,0,0,0,17,0,0,0,4,0.0,25,2,8,1,0

In [3]:
df.shape

(888, 21)

In [4]:
df_new = pd.DataFrame

In [5]:
df_new.shape

In [6]:
df_new = df['Player']

In [8]:
df_new.shape

(888,)

In [10]:
df_new.concat(df['Unnamed: 0'])

AttributeError: 'Series' object has no attribute 'concat'